doctype html
html(lang="en")

  head
    link(rel='stylesheet', href='/site.css')
      
  body
    h1 Sorry, I don't know what that is. 
    
    p Either the address above is incorrect or the page you are looking for no longer exists.
